doctype html
html
	head
		title #{title}
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		h1 #{title}
		p Your fastest times for each lake are noted in 
			span.bestTime bold, red 
			span text.
		hr
		block content
